@font-face {
    font-family: 'alegreya_sans';
    src: url('/layout/font/alegreyasans-black-webfont.woff2') format('woff2'),
         url('/layout/font/alegreyasans-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sans';
    src: url('/layout/font/alegreyasans-blackitalic-webfont.woff2') format('woff2'),
         url('/layout/font/alegreyasans-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;

}




@font-face {
    font-family: 'alegreya_sans';
    src: url('/layout/font/alegreyasans-bold-webfont.woff2') format('woff2'),
         url('/layout/font/alegreyasans-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sans';
    src: url('/layout/font/alegreyasans-bolditalic-webfont.woff2') format('woff2'),
         url('/layout/font/alegreyasans-bolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}




@font-face {
    font-family: 'alegreya_sans';
    src: url('/layout/font/alegreyasans-extrabold-webfont.woff2') format('woff2'),
         url('/layout/font/alegreyasans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sans';
    src: url('/layout/font/alegreyasans-extrabolditalic-webfont.woff2') format('woff2'),
         url('/layout/font/alegreyasans-extrabolditalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;

}




@font-face {
    font-family: 'alegreya_sans';
    src: url('/layout/font/alegreyasans-italic-webfont.woff2') format('woff2'),
         url('/layout/font/alegreyasans-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}




@font-face {
    font-family: 'alegreya_sans';
    src: url('/layout/font/alegreyasans-light-webfont.woff2') format('woff2'),
         url('/layout/font/alegreyasans-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sans';
    src: url('/layout/font/alegreyasans-lightitalic-webfont.woff2') format('woff2'),
         url('/layout/font/alegreyasans-lightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;

}




@font-face {
    font-family: 'alegreya_sans';
    src: url('/layout/font/alegreyasans-medium-webfont.woff2') format('woff2'),
         url('/layout/font/alegreyasans-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sans';
    src: url('/layout/font/alegreyasans-mediumitalic-webfont.woff2') format('woff2'),
         url('/layout/font/alegreyasans-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}




@font-face {
    font-family: 'alegreya_sans';
    src: url('/layout/font/alegreyasans-regular-webfont.woff2') format('woff2'),
         url('/layout/font/AlegreyaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}